.container {
  display: flex;
  overflow-y: auto;

  margin-top: 60px;
  box-sizing: border-box;
}

.box {
  flex: 50%;
  width: 720px;
  height: 1000px;
  margin: 0 auto;
}
.box1 {
  flex: 50%;
  width: 720px;
  height: 1024px;
}

.Title-lista-servicos {
  position: absolute;
  width: 451px;
  height: 39px;
  left: 47px;
  top: 113px;
  font-family: Cabin;
}
.form-serviços {
  position: absolute;
  width: 49px;
  height: 9px;
  left: 47px;
  top: 194px;
}
.form-serviços2 {
  position: absolute;
  float: right;
  width: 149px;
  height: 19px;
  left: 654px;
  top: 194px;
}
tr {
  padding-bottom: 20px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.cliente {
  top: 10px;
}
.container-geo2 {
  width: 684px;
  height: 263px;
  left: 654px;
  top: 320px;
  margin-top: 34px;
  margin-bottom: 43px;
  background-image: url(C:\Users\ak77-\Desktop\login\public\mapa.png);
}
.name-serviços {
  font-family: Cabin;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #333333;
}

.p-ocorrencias {
  position: absolute;
  width: 523px;
  height: 96px;

  top: 687px;
}

.text-ocorrencias {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.assinatura-digital {
  position: absolute;
  width: 354px;
  height: 142px;
  left: 20px;
  top: 160px;

  background-image: url(C:\Users\ak77-\Desktop\login\public\assinatura-digital.png);
}

.Btn-lista-servicos {
  position: absolute;
  width: 115px;
  height: 39px;
  left: 47px;
  top: 413px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border-radius: 8px;
  border-style: none;
  background: #06b983;
  color: #ffffff;
}

@media (max-width: 1010px) {
  .box,
  .box1 {
    flex: 100%;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
