.container-geo {
  height: 403px;
  margin: 27px 19px 0px 19px;
  background-image: url(C:\Users\ak77-\Desktop\login\public\mapa.png);
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
